
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script>
    function insertRow(myTable) {
        var table = document.getElementById(myTable);
        var rowCount = table.rows.length;
        var row = table.insertRow(table.rows.length);
        row.innerHTML = '<td><input type="search" class="autoc ui-autocomplete-input" name="product[]" id="product" autocomplete="off"></td>' +
                '<td><input type="text" name="price[]" id="price_" + rowCount + " value=""/>' +
                '<td><input type="text" name="quantity[]" onblur="calcItemPrice(this.id)" id="quantity_' + rowCount + '" value=""/></td>' +
                '<td><input type="text" name="item_price[]" id="item_price_" + rowCount + " value=""/>';

    }

    function calculateTotal(myTable)          {
        var table = document.getElementById(myTable);
        var tot=0;
        for(var i=1,row;row=table.rows[i];i++)
        {
            tot+=parseInt(row.cells[3].firstChild.value);
        }
        document.getElementById("total").innerHTML=tot;
    }

    function calcItemPrice(price_per_quantity){
        var itemPrice=document.getElementById(price_per_quantity).parentNode.previousElementSibling.firstChild.value * document.getElementById(price_per_quantity).value;
        document.getElementById(price_per_quantity).parentNode.nextElementSibling.firstElementChild.value=itemPrice;
    }

    function populatePrice(itemName,itemPrice_id){
        request = createRequest();
        request.open("GET","items/price_by_name/"+itemName,true);
        var response=request.send();
        alert(response);
        document.getElementById(itemPrice_id).value=response;
    }

    $( "#product" ).autocomplete({
        source: "/search_suggestions"
    });

</script>

<form name="create_bill" class="ajax" method="post" action="/bills" id="bill_form">
  <table id="myTable">
    <thead>
    <th>Item name</th>
    <th>price</th>
    <th>quantity</th>
    <th>Item price</th>
    </thead>
    <tbody>
    <tr>
      <td><input type="search" class="autoc" name="product[]" id="product"/></td>
      <td><input type="text" name ="price[]" id="price_1"/></td>
      <td><input type="text" name ="quantity[]" onblur="calcItemPrice(this.id)" id="quantity_1"/></td>
      <td><input type="text" name ="item_price[]" id="item_price_1"/></td>
    </tr>
    </tbody>
  </table>
  <label for="total">Total</label>
  <p id="total">0</p>
  <input type="button" id="btnAdd" name="addButton" class="button-add" onClick="insertRow('myTable')" value="add more items">
  <!--<input type="button" id="btnAdd" name="addButton" class="button-add" value="add more items">-->
  <input type="button" id="btnAdd" class="button-add" onClick="calculateTotal('myTable')" value="total">
  <%= submit_tag 'Submit' %>
</form>