
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script>
    function insertRow(myTable) {
        var table = document.getElementById(myTable);
        var product=table.rows[1].cells[0].lastChild.value;
        var price= table.rows[1].cells[1].lastChild.value;
        var quantity= table.rows[1].cells[2].lastChild.value;
        var item_price= table.rows[1].cells[3].lastChild.value;
//        var rowCount = table.rows.length;
//        var row = table.insertRow(table.rows.length);
//        row.innerHTML = '<td><input type="search" class="autoc ui-autocomplete-input" name="product[]" id="product" autocomplete="off"></td>' +
//                '<td><input type="text" name="price[]" id="price_" + rowCount + " value=""/>' +
//                '<td><input type="text" name="quantity[]" onblur="calcItemPrice(this.id)" id="quantity_' + rowCount + '" value=""/></td>' +
//                '<td><input type="text" name="item_price[]" id="item_price_" + rowCount + " value=""/>';
        var table1=document.getElementById("myTable1");
        var rowCount1= table1.rows.length;
        var row1=table1.insertRow(rowCount1);
        row1.innerHTML='<td><input type="text" name="product[]" id="product_'+rowCount1+'" " value='+product+'></td>'
        +'<td><input type="text" name="price[]" id="price_' + rowCount1 + '" " value='+price+'></td>'
        +'<td><input type="text" name="quantity[]" onblur="calcItemPrice(this.id)" id="quantity_'+rowCount1+'" " value='+quantity+'></td>'
        +'<td><input type="text" name="item_price[]" id="item_price_"'+rowCount1+'" " value='+item_price+'></td>';
        document.getElementById("bill_form").reset();
    }

    function calculateTotal(myTable)          {
        var table = document.getElementById(myTable);
        var tot=0;
        for(var i=0,row;row=table.rows[i];i++)
        {
           tot+=parseInt(row.cells[3].firstChild.value);
        }
        document.getElementById("total").innerHTML=tot;
    }

    function calcItemPrice(price_per_quantity){
        var itemPrice=document.getElementById(price_per_quantity).parentNode.previousElementSibling.firstChild.value * document.getElementById(price_per_quantity).value;
        document.getElementById(price_per_quantity).parentNode.nextElementSibling.firstElementChild.value=itemPrice;
    }

    function populatePrice(itemName){
      $.get("/items/price_by_name/"+itemName,function(data,status){
          document.getElementById("price").value=data
      });

    }

    function printDiv()
    {
        var divToPrint=document.getElementById('myTable1');
        newWin= window.open("");
        newWin.document.write(divToPrint.outerHTML);
        newWin.print();
        newWin.close();
    }

</script>

<form name="create_bill" class="ajax" method="post" action="/bills" id="bill_form">
    <table id="myTable">
      <thead>
      <th>Item name</th>
      <th>price</th>
      <th>quantity</th>
      <th>Item price</th>
      </thead>
      <tbody>
      <tr>
        <td><input type="search" class="autoc" name="product[]" onblur="populatePrice(this.value)" id="product"/></td>
        <td><input type="text" name ="price[]" id="price"/></td>
        <td><input type="text" name ="quantity[]" onblur="calcItemPrice(this.id)" id="quantity"/></td>
        <td><input type="text" name ="item_price[]" id="item_price"/></td>
      </tr>
      </tbody>
    </table>


    <input type="button" id="btnAdd" name="addButton" class="button-add" onClick="insertRow('myTable')" value="add more items">
  <!--<input type="button" id="btnAdd" name="addButton" class="button-add" value="add more items">-->
    <!--<input type="button" id="btnAdd" class="button-add" onClick="calculateTotal('myTable')" value="total">-->
</form>
<form name="create_bill" class="ajax" method="post" action="/bills" id="bill_form1">
<table id="myTable1">
  <tbody>
  </tbody>
</table>
  <label for="total">Total</label>
  <p id="total">0</p>
  <input type="button" id="btnAdd" class="button-add" onClick="calculateTotal('myTable1')" value="total">
  <input type="button" id="btnPrint" class="button-print" onClick="printDiv()" value="Print">
  <%= submit_tag 'Submit' %>
</form>