<script>
  function some_function(){
    document.getElementById("demo").innerHTML="it worked!!"
  }

</script>
<%= form_tag('/items/calculate_bill') do   %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <p id="demo"></p>
    <%= submit_tag("Add Item", :onclick => some_function()) %>
<% end %>

