<table>
<tr>
  <td> name </td>
  <td> price </td>
</tr>
<% @Items.each do |item| %>
<tr>
  <td><%= item.name %></td>
  <td><%= item.price %></td>
  <td><%= link_to 'Show', item_path(item) %></td>
  <td><%= link_to 'Edit', edit_item_path(item) %></td>
</tr>
<% end %>
</table>