<%= form_for :items   do |f| %>
   <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </p>
  <p>
  <%= button_to "Add Item" %>
  </p>
<% end %>